body{
	font-family:Roboto;
}
h1{
	text-align:center;
}
table,td,th,tr{
	border:1px solid black;
	min-width:100px;
	min-height:30px;
	margin-left:auto;
	margin-right:auto;
}

button{
	min-width:100px;
	min-height:40px;
}	
